<header>
  <div class="header-container">
    <div class="logo">
      <a href="/index.html" class="logo-text">FuelQ</a>
    </div>
    <div id="menu-toggle" class="menu-toggle">☰</div>
    <nav class="topnav">
      <a href="/index.html" class="active">Home</a>
      <a href="/src/pages/forengineers.html">For Engineers</a>
      <a href="/src/pages/discovery.html">Discover</a>
      <a href="/src/pages/forum/index.html">Forum</a>
      <a href="/src/pages/contacts.html">Contacts</a>
    </nav>
  </div>
</header>